<div class="container">
    <form  id="idFormModalidad" [formGroup]="formsRegistra" >
    <div class="row">
        <mat-toolbar color="primary">
            <span>Registra Proveedor</span>
        </mat-toolbar>
    </div>
    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>Razon social</mat-label>
            <input matInput [(ngModel)]="objProveedor.razonsocial" formControlName="validarazonsocial">
            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validarazonsocial.touched">
                <span *ngIf="formsRegistra.controls.validarazonsocial.hasError('required')">
                    El campo razon social es obligatorio                        
                </span>
                <span *ngIf="formsRegistra.controls.validarazonsocial.hasError('pattern')">
                    El nombre es de 3 a 100 carácteres                        
                </span>
             </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>Ruc</mat-label>
            <input matInput [(ngModel)]="objProveedor.ruc" formControlName="validaruc">
            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validaruc.touched">
                <span *ngIf="formsRegistra.controls.validaruc.hasError('required')">
                    El campo RUC es obligatorio                        
                </span>
                <span *ngIf="formsRegistra.controls.validaruc.hasError('pattern')">
                    El campo RUC debe de tener 11 digitos                       
                </span>
             </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>Dirección</mat-label>
            <input matInput [(ngModel)]="objProveedor.direccion" formControlName="validadireccion">
            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validadireccion.touched">
                <span *ngIf="formsRegistra.controls.validadireccion.hasError('required')">
                    El campo direccion es obligatorio                        
                </span>
             </mat-hint>
        </mat-form-field>
        
    </div>
    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>Teléfono</mat-label>
            <input matInput [(ngModel)]="objProveedor.telefono" formControlName="validatelefono">
            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validatelefono.touched">
                <span *ngIf="formsRegistra.controls.validatelefono.hasError('required')">
                    El campo telefono es obligatorio                        
                </span>
                <span *ngIf="formsRegistra.controls.validatelefono.hasError('pattern')">
                    El campo telefono debe de tener 9 digitos                       
                </span>
             </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>Celular</mat-label>
            <input matInput [(ngModel)]="objProveedor.celular" formControlName="validacelular">
            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validacelular.touched">
                <span *ngIf="formsRegistra.controls.validacelular.hasError('required')">
                    El campo celular es obligatorio                        
                </span>
                <span *ngIf="formsRegistra.controls.validacelular.hasError('pattern')">
                    El campo celular debe de tener 9 digitos                       
                </span>
             </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>Contacto</mat-label>
            <input matInput [(ngModel)]="objProveedor.contacto" formControlName="validacontacto">
            <mat-hint style="color: red"  *ngIf="formsRegistra.controls.validacontacto.touched">
                <span *ngIf="formsRegistra.controls.validacontacto.hasError('required')">
                    El campo contacto es obligatorio                        
                </span>
                <span *ngIf="formsRegistra.controls.validacontacto.hasError('pattern')">
                    El campo contacto debe de tener de 3 a 30 caracteres                       
                </span>
             </mat-hint>
        </mat-form-field>
    </div>
    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>País</mat-label>
            <mat-select [(ngModel)]="objProveedor.pais!.idPais" formControlName="validapais">
                <mat-option value="-1">[Seleccione]</mat-option>
                <mat-option *ngFor="let x of lstPais" [value]="x.idPais">{{x.nombre}}</mat-option>
            </mat-select>
            <mat-hint style="color: red" *ngIf="formsRegistra.controls.validapais.touched">
                <span *ngIf="formsRegistra.controls.validapais.hasError('min')">
                    El pais es requerido                       
                </span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <mat-label>Tipo Proveedor</mat-label>
            <mat-select [(ngModel)]="objProveedor.tipoProveedor!.idDataCatalogo" formControlName="validatipoProveedor">
                <mat-option value="-1">[Seleccione]</mat-option>
                <mat-option *ngFor="let y of lstTipo" [value]="y.idDataCatalogo">{{y.descripcion}}</mat-option>
            </mat-select>
            <mat-hint style="color: red" *ngIf="formsRegistra.controls.validatipoProveedor.touched">
                <span *ngIf="formsRegistra.controls.validatipoProveedor.hasError('min')">
                    El tipo proveedor es requerido                      
                </span>
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="row">
        <button mat-raised-button type="submit" color="primary" (click)="registrar()" [disabled]="formsRegistra.invalid">Registra</button>
    </div>
</form>
</div>
