<app-menu></app-menu>
<div class="container" style="padding: 2%">
        <div class="row">
                <mat-toolbar color="primary" >    
                <span>Registra Sala</span>    
                </mat-toolbar>  
        </div>
        <div  class="row"  style="margin-top: 3%">
                    <mat-form-field class="col-md-4">
                        <mat-label>Nro De Sala</mat-label>
                        <input  matInput [(ngModel)] ="objSala.numero">
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Piso</mat-label>
                        <input  matInput [(ngModel)] ="objSala.piso">
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Nro De Alumnos</mat-label>
                        <input  matInput [(ngModel)] ="objSala.numAlumnos">
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Recursos</mat-label>
                        <input  matInput [(ngModel)] ="objSala.recursos">
                    </mat-form-field>
        </div>
        <div class="row"  style="margin-top: 3%">
                   
                <mat-form-field class="col-md-4">
                        <mat-label>Tipo De Sala</mat-label>
                        <mat-select  [(ngModel)] ="objSala.tipoSala!.idDataCatalogo">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let y of lstTipoSala" [value]="y.idDataCatalogo">
                                    {{y.descripcion}}
                            </mat-option> 
                        </mat-select> 
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Sede </mat-label>
                        <mat-select  [(ngModel)] ="objSala.sede!.idDataCatalogo">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let y of lstSede" [value]="y.idDataCatalogo">
                                    {{y.descripcion}}
                            </mat-option> 
                        </mat-select> 
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Estado De Reserva </mat-label>
                        <mat-select  [(ngModel)] ="objSala.estadoReserva!.idDataCatalogo">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let y of lstEstadoReserva" [value]="y.idDataCatalogo">
                                    {{y.descripcion}}
                            </mat-option> 
                        </mat-select> 
                    </mat-form-field>
        </div>
        <div  class="row" >
            <button mat-raised-button type="submit" (click)="registra()" color="primary" >Registra</button>
        </div>

</div>
