<div class="container">
    <div class="mat-dialog-content"  id="idFormModalidad" >
                <div class="row">
                        <mat-toolbar color="primary" >    
                        <span>Registra Editorial</span>    
                        </mat-toolbar>  
                </div>
                <div  class="row"  style="margin-top: 3%">
                            <mat-form-field class="col-md-4">
                                <mat-label>Razon Social</mat-label>
                                <input  matInput [(ngModel)] ="objEditorial.razonSocial">
                            </mat-form-field>
                            <mat-form-field class="col-md-4">
                                <mat-label>Direccion</mat-label>
                                <input  matInput [(ngModel)] ="objEditorial.direccion">
                            </mat-form-field>
                            <mat-form-field class="col-md-4">
                                <mat-label>RUC</mat-label>
                                <input  matInput [(ngModel)] ="objEditorial.ruc">
                            </mat-form-field>
                           
                </div>
                <div class="row"  style="margin-top: 3%">
                    <mat-form-field class="col-md-4">
                        <mat-label>Gerente</mat-label>
                        <input  matInput [(ngModel)] ="objEditorial.gerente">
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>Fecha de Creación</mat-label>
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <input  matInput [(ngModel)] ="objEditorial.fechaCreacion" [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                            <mat-form-field class="col-md-4">
                                <mat-label>País</mat-label>
                                <mat-select [(ngModel)] ="objEditorial.pais!.idPais">
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option *ngFor="let x of lstPais" [value]="x.idPais">
                                                {{x.nombre}}
                                    </mat-option> 
                                </mat-select> 
                            </mat-form-field> 
                            
                </div>
                <div  mat-dialog-actions>
                    <button mat-raised-button 
                            type="submit" 
                            (click) = "registra()"
                            color="primary" 
                            [mat-dialog-close]="1">
                            Registra
                    </button>
                    <button mat-button 
                            color="primary">
                            Salir
                    </button>
            </div>
 </div>
  </div>
  

