.container {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    height: 480px;
  }
  
  
  .form {
    display: flex;
    padding-top: 6px;
    flex-wrap: wrap;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
    margin-right: 16px; /* Espacio entre los campos */
    margin-bottom: 16px; /* Espacio debajo de los campos */
  }
  
  button {
  margin-left: 20px;
  }
  
  