<div class="container">
    <form id="idFormLibro" [formGroup]="formsActualizar">
        <div class="row">
            <mat-toolbar color="primary">
                <span>Actualiza Libro</span>
            </mat-toolbar>
        </div>
        <hr>
        <div class="row" style="margin-top: 3%">
            <mat-form-field class="col-md-4">
                <mat-label>Título</mat-label>
                <input matInput [(ngModel)]="libro.titulo" formControlName="validatitulo">
                <mat-hint style="color: red" *ngIf="formsActualizar.controls.validatitulo.touched">
                    <span *ngIf="formsActualizar.controls.validatitulo.hasError('required')">
                        El título es requerido
                    </span>
                    <span *ngIf="formsActualizar.controls.validatitulo.hasError('pattern')">
                        El título debe tener entre 3 y 50 caracteres
                    </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Año</mat-label>
                <input matInput [(ngModel)]="libro.anio" formControlName="validaanio">
                <mat-hint style="color: red" *ngIf="formsActualizar.controls.validaanio.touched">
                    <span *ngIf="formsActualizar.controls.validaanio.hasError('required')">
                        El año es requerido
                    </span>
                    <span *ngIf="formsActualizar.controls.validaanio.hasError('pattern')">
                        El año debe ser entre 1800 y el año 2024
                    </span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>Serie</mat-label>
                <input matInput [(ngModel)]="libro.serie" formControlName="validaserie">
                <mat-hint style="color: red" *ngIf="formsActualizar.controls.validaserie.touched">
                    <span *ngIf="formsActualizar.controls.validaserie.hasError('required')">
                        La serie es requerida
                    </span>
                    <span *ngIf="formsActualizar.controls.validaserie.hasError('pattern')">
                        La serie debe tener 3 letras mayúsculas y 7 dígitos
                    </span>
                </mat-hint>
            </mat-form-field>
        </div>
        
        <div class="row" style="margin-top: 3%">
            <mat-form-field class="col-md-4">
                <mat-label>Editorial</mat-label>
                <mat-select [(ngModel)]="libro.editorial!.idEditorial" formControlName="validaEditorial">
                    <mat-option value="-1">[Seleccione]</mat-option>
                    <mat-option *ngFor="let x of lstEditorial" [value]="x.idEditorial">
                        {{x.razonSocial}}
                    </mat-option>   
                </mat-select> 
                <mat-hint style="color: red" *ngIf="formsActualizar.controls.validaEditorial.touched">
                    <span *ngIf="formsActualizar.controls.validaEditorial.hasError('min')">
                        El editorial es requerido                     
                    </span>
                </mat-hint>
            </mat-form-field> 

            <mat-form-field class="col-md-4">
                <mat-label>Categoría</mat-label>
                <mat-select [(ngModel)]="libro.categoriaLibro!.idDataCatalogo" formControlName="validaCategoriaLibro">
                    <mat-option value="-1">[Seleccione]</mat-option>
                    <mat-option *ngFor="let x of lstCategoria" [value]="x.idDataCatalogo">
                        {{x.descripcion}}
                    </mat-option>   
                </mat-select> 
                <mat-hint style="color: red" *ngIf="formsActualizar.controls.validaCategoriaLibro.touched">
                    <span *ngIf="formsActualizar.controls.validaCategoriaLibro.hasError('min')">
                        La categoría es requerida                       
                    </span>
                </mat-hint>
            </mat-form-field> 
  
            <mat-form-field class="col-md-4">
                <mat-label>Estado del préstamo</mat-label>
                <mat-select [(ngModel)]="libro.estadoPrestamo!.idDataCatalogo" formControlName="validaEstadoPrestamo">
                    <mat-option value="-1">[Seleccione]</mat-option>
                    <mat-option *ngFor="let x of lstEstado" [value]="x.idDataCatalogo">
                        {{x.descripcion}}
                    </mat-option>   
                </mat-select> 
                <mat-hint style="color: red" *ngIf="formsActualizar.controls.validaEstadoPrestamo.touched">
                    <span *ngIf="formsActualizar.controls.validaEstadoPrestamo.hasError('min')">
                        El estado del préstamo es requerido                    
                    </span>
                </mat-hint>
            </mat-form-field> 
          
            <mat-form-field class="col-md-4">
                <mat-label>Tipo de libro</mat-label>
                <mat-select [(ngModel)]="libro.tipoLibro!.idDataCatalogo" formControlName="validaTipoLibro">
                    <mat-option value="-1">[Seleccione]</mat-option>
                    <mat-option *ngFor="let x of lstTipo" [value]="x.idDataCatalogo">
                        {{x.descripcion}}
                    </mat-option>   
                </mat-select> 
                <mat-hint style="color: red" *ngIf="formsActualizar.controls.validaTipoLibro.touched">
                    <span *ngIf="formsActualizar.controls.validaTipoLibro.hasError('min')">
                        El tipo de libro es requerido                  
                    </span>
                </mat-hint>
            </mat-form-field> 
        </div>
        
        <hr>
        
        <div class="row">
            <button mat-raised-button type="submit" [disabled]="formsActualizar.invalid" color="primary" (click)="actualizar()">
                Actualizar
            </button>
        </div>
    </form>
</div>
