<nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #0a3a61;">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/Cibertec_logo_menu.png" alt="Cibertec" style="height: 40px;" />
  </a>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarNav" 
          aria-controls="navbarNav" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
      </li>

      <li class="nav-item" *ngIf="isLogged && opcRegistroEntradaSalida.length > 0">
        <a class="nav-link" routerLink="/{{ opcRegistroEntradaSalida[0].ruta }}">
          Registro de Entrada y Salida
        </a>
      </li>

      <li class="nav-item" *ngIf="isLogged &&   opcRegistroExterno.length> 0">
        <a class="nav-link" routerLink="/{{ opcRegistroExterno[0].ruta }}">
          Registrar Externo
        </a>
      </li>

      <li class="nav-item" *ngIf="isLogged && opcConsultaReporte.length > 0">
        <a class="nav-link" routerLink="/{{ opcConsultaReporte[0].ruta }}">
          Consulta y Reporte de Usuarios
        </a>
      </li>

      <li class="nav-item" *ngIf="isLogged && opcAccesoProveedor.length > 0">
        <a class="nav-link" routerLink="/{{ opcAccesoProveedor[0].ruta }}">
          Gestión de Acceso para Proveedores
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link" style="cursor: pointer;">
          <i class="fas fa-door-open"></i> Cerrar Sesión
        </a>
      </li>
    </ul>
  </div>

  
</nav>