<app-menu></app-menu>
<div class="container">
    <mat-toolbar class="toolbar-entrada-salida">
      <span>Registro de Entrada y Salida</span>
    </mat-toolbar>
    <div class="custom-toolbar">
      <button class="btn btn-left">CONSULTAR</button>
      <input type="text" class="search-input" placeholder="Buscar...">
      <button class="btn btn-right">ESCANEAR</button>
    </div>
    <div class="data-entry">
      <div class="form-row">
        <div class="form-labels">
          <label for="codigo">CÓDIGO:</label>
          <label for="nombres">NOMBRES:</label>
          <label for="apellidos">APELLIDOS:</label>
          <label for="rol">ROL:</label>
          <label for="estado">ESTADO:</label>
        </div>
        <div class="form-fields">
          <input type="text" id="codigo" class="form-control" placeholder="CÓDIGO" disabled>
          <input type="text" id="nombres" class="form-control" placeholder="NOMBRES" disabled>
          <input type="text" id="apellidos" class="form-control" placeholder="APELLIDOS" disabled>
          <input type="text" id="rol" class="form-control" placeholder="TIPO DE USUARIO" disabled>
          <input type="text" id="estado" class="form-control" placeholder="ESTADO" disabled>
        </div>
        <div class="photo-container">
          <div class="photo-box">
            <div class="qr-placeholder"></div>
            <img src="#" alt="Foto" class="qr-image" />
          </div>
        </div>
      </div>
    </div>
    <div class="action-buttons">
      <button class="btn btn-permit">PERMITIR</button>
      <button class="btn btn-deny">DENEGAR</button>
    </div>
    <p class="footer-text">Personal de Seguridad</p>
</div>
