  <app-menu></app-menu>
  <div class="container">
      <mat-toolbar class="toolbar-entrada-salida">
        <span>Registro de Entrada y Salida</span>
      </mat-toolbar>
      <div class="custom-toolbar">
        <button class="btn btn-left">CONSULTAR</button>
        <input type="text" class="search-input" placeholder="Buscar...">
        <button class="btn btn-right">ESCANEAR</button>
      </div>
      <div class="data-entry">
        <div class="form-row">
          <div class="form-labels">
            <label for="codigo">CÓDIGO:</label>
            <label for="identificacion">IDENTIFICACIÓN:</label>
            <label for="nombres">NOMBRES:</label>
            <label for="apellidos">APELLIDOS:</label>
            <label for="estado">ESTADO:</label>
          </div>
          <div class="form-fields">
            <input type="text" id="codigo" class="form-control" placeholder="CÓDIGO">
            <input type="text" id="identificacion" class="form-control" placeholder="IDENTIFICACIÓN">
            <input type="text" id="nombres" class="form-control" placeholder="NOMBRES">
            <input type="text" id="apellidos" class="form-control" placeholder="APELLIDOS">
            <input type="text" id="estado" class="form-control" placeholder="ESTADO">
          </div>
          <div class="photo-container">
            <div class="photo-box">
              <div class="qr-placeholder"></div>
              <img src="#" alt="Foto" class="qr-image" />
            </div>
          </div>
        </div>
      </div>
      <div class="action-buttons">
        <button class="btn btn-permit">PERMITIR</button>
        <button class="btn btn-deny">DENEGAR</button>
        <button class="btn btn-register">REGISTRAR EXTERNO</button>
      </div>
      <p class="footer-text">Personal de Seguridad</p>
    </div>