.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .toolbar-entrada-salida {
    background-color: #0a3a61;
    color: white;
    padding: 15px 20px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  
  .custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .btn {
    background-color: #8bc34a;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn-left {
    margin-right: 10px;
  }
  
  .btn-right {
    margin-left: 10px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .data-entry {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-row {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  
  .form-labels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 20px;
  }
  
  .form-labels label {
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .form-fields .form-control {
    flex-grow: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  
  .photo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    height: 250px;
    width: 200px;
    border-radius: 10px;
  }
  
  .qr-placeholder {
    font-size: 24px;
    font-weight: bold;
    color: #999;
  }
  
  .qr-image {
    max-width: 100%;
    max-height: 100%;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  
  .btn-permit {
    background-color: #8bc34a;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn-deny {
    background-color: #ff3b3b;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn-register {
    background-color: #ffa500;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .footer-text {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
    width: 100%;
  }