<app-menu></app-menu>
<div class="container">
  <mat-toolbar class="toolbar-entrada-salida">
    <span>Consulta y Reporte del Control de Usuarios</span>
  </mat-toolbar>
  <br>

  <div class="row" style="margin-top: 3%">
    <div class="col-md-3">
      <mat-form-field class="full-width">
        <mat-label>Código</mat-label>
        <input matInput [(ngModel)]="varCodigo">
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="full-width">
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="varRol">
          <mat-option value="-1"> [Todos] </mat-option>
          <mat-option *ngFor="let rol of lstRol.slice(2)" [value]="rol.idRol">
            {{ rol.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="full-width">
        <mat-label>Fecha (Desde)</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="varFechaDesde">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field class="full-width">
        <mat-label>Fecha (Hasta)</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="varFechaHasta">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="text-center mt-6">
    <button type="submit" class="btn " style="width: 200px;" (click)="filtrar()">Filtrar</button>
</div>

<mat-table [dataSource]="dataSource" #table class="mat-elevation-z8" style="margin-top: 20px;">
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
      <mat-cell *matCellDef="let aux"> {{ aux.codigo }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
      <mat-cell *matCellDef="let aux"> {{ aux.nombres }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
      <mat-cell *matCellDef="let aux"> {{ aux.apellidos }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let aux"> {{ aux.fecha | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef> Tipo Usuario </mat-header-cell>
      <mat-cell *matCellDef="let aux"> {{ aux.rol }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
      <mat-cell *matCellDef="let aux"> {{ aux.estado == 1 ? "Ingresó" : "No Ingresó" }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let aux; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

  <div class="action-buttons mt-4 text-center"> 
    <button class="btn btn-excel" (click)="exportarExcel()">EXCEL</button>
  </div>

  <p class="footer-text mt-4">Supervisor</p>
</div>
