.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .toolbar-entrada-salida {
    background-color: #0a3a61;
    color: white;
    padding: 15px 20px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.form-group.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos desde la parte superior */
}

.col-sm-6,
.col-sm-4,
.col-sm-12 {
    flex: 0 0 calc(100% / 3 - 10px);
    max-width: calc(100% / 3 - 10px);
    display: flex;
    flex-direction: column;
}

.col-sm-6 {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
}

.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    resize: none;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: center; /* Alinea el botón en el centro de su columna */
    margin-top: 20px;
}

.btn-qr {
    background-color: #8bc34a;
    color: white;
    padding: 8px 60px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
hr.my-4 {
    border-top: 1px solid #ddd;
    margin: 1.5rem 0;
  }
.footer-text {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}
