.mat-column-idLibro {
    flex: 0 0 6%;
}
.mat-column-titulo {
    flex: 0 0 15%;
}
.mat-column-anio {
    flex: 0 0 8%;
}
.mat-column-tema {
    flex: 0 0 15%;
}
.mat-column-serie {
    flex: 0 0 12%;
}
.mat-column-categoriaLibro {
    flex: 0 0 8%;
}
.mat-column-estadoPrestamo {
    flex: 0 0 10%;
}
.mat-column-tipoLibro {
    flex: 0 0 10%;
}
.mat-column-editorial {
    flex: 0 0 10%;
}

.mat-column-estado {
    flex: 0 0 10%;
}
.mat-column-acciones {
    flex: 0 0 20%;
}
.b{
    margin: 10px;
}

