<div class="container">
    <form  id="idForm" [formGroup]="formsActualiza" >
    <div class="mat-dialog-content"  id="idFormModalidad" >
                <div class="row">
                        <mat-toolbar color="primary" >    
                        <span>Actualiza Tesis</span>    
                        </mat-toolbar>  
                </div>
                
                <div  class="row"  style="margin-top: 3%">
                    <mat-form-field class="col-md-4">
                        <mat-label>Título</mat-label>
                        <input  matInput [(ngModel)] ="objTesis.titulo" formControlName="validaTitulo">
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaTitulo.touched">
                            <span *ngIf="formsActualiza.controls.validaTitulo.hasError('required')">
                                El título es requerido.
                              </span>
                              <span *ngIf="formsActualiza.controls.validaTitulo.hasError('pattern')">
                                El título es de 5 a 45 caracteres.
                              </span>
                              <span *ngIf="formsActualiza.controls.validaTitulo.hasError('tesisExistente')">
                                La Tesis ya existe.
                              </span>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Fecha de Creación</mat-label>
                        <input  matInput [(ngModel)] ="objTesis.fechaCreacion" [matDatepicker]="picker" formControlName="validaFechaCreacion">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaFechaCreacion.touched">
                            <span *ngIf="formsActualiza.controls.validaFechaCreacion.hasError('required')">
                            La fecha de creación es requerida.                        
                            </span>
                            <span *ngIf="formsActualiza.controls.validaFechaCreacion.hasError('fechaInvalida')">
                                La Fecha de Creación debe ser posterior a 01/01/1975.
                            </span>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div class="row"  style="margin-top: 3%">
                    <mat-form-field class="col-md-4">
                        <mat-label>Tema</mat-label>
                        <mat-select  [(ngModel)] ="objTesis.tema!.idDataCatalogo" formControlName="validaTema">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let y of lstTema" [value]="y.idDataCatalogo">
                                    {{y.descripcion}}
                            </mat-option> 
                        </mat-select> 
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaTema.touched">
                            <span *ngIf="formsActualiza.controls.validaTema.hasError('min')">
                                El Tema es requerido                        
                            </span>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Idioma</mat-label>
                        <mat-select  [(ngModel)] ="objTesis.idioma!.idDataCatalogo" formControlName="validaIdioma">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let y of lstIdioma" [value]="y.idDataCatalogo">
                                    {{y.descripcion}}
                            </mat-option> 
                        </mat-select> 
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaIdioma.touched">
                            <span *ngIf="formsActualiza.controls.validaIdioma.hasError('min')">
                                El Idioma es requerido.                        
                            </span>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field class="col-md-4">
                        <mat-label>Centro de Estudios</mat-label>
                        <mat-select  [(ngModel)] ="objTesis.centroEstudios!.idDataCatalogo" formControlName="validaCentroEstudios">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option *ngFor="let y of lstCentroEstudios" [value]="y.idDataCatalogo">
                                    {{y.descripcion}}
                            </mat-option> 
                        </mat-select> 
                        <mat-hint style="color: red"  *ngIf="formsActualiza.controls.validaCentroEstudios.touched">
                            <span *ngIf="formsActualiza.controls.validaCentroEstudios.hasError('min')">
                                El Centro de Estudios es requerido.                        
                            </span>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div  mat-dialog-actions>
                    <button mat-raised-button 
                            type="submit" 
                            (click) = "actualizar()"
                            color="primary" 
                           
                            [disabled]="formsActualiza.invalid">
                            Actualiza
                    </button>
                    <button mat-button 
                            color="primary" 
                            [mat-dialog-close]="0">
                            Salir
                    </button>
            </div>
 </div>
</form>
  </div>
  

