<app-menu></app-menu>
<div class="container">
  <form id="idFormExterno"  >
    <mat-toolbar class="toolbar-entrada-salida">
      <span>Registro de Externo</span>
    </mat-toolbar>
    <div class="form-container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="nombres">Nombres</label>
            <input type="text" id="nombres" class="form-control" placeholder="Nombres">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" class="form-control" placeholder="Apellidos">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="celular">Celular</label>
            <input type="tel" id="celular" class="form-control" placeholder="Celular">
          </div>
        </div> 
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="tipo-documento">Tipo de Documento</label>
            <select id="tipo-documento" class="form-control" formControlName="tipoDocumento">
              <option value="-1">Seleccione</option>
              <option *ngFor="let tipoDocumento of lstTipoDoc" [value]="tipoDocumento.idTipoDoc">{{ tipoDocumento.descripcion }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="numero-documento">Número de Documento</label>
            <input type="text" id="numero-documento" class="form-control" placeholder="Número de Documento">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="motivo">Motivo</label>
        <textarea id="motivo" class="form-control" rows="3" placeholder="Motivo"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-success">GENERAR QR</button>
      </div>
    </div>
  </form>
    <p class="footer-text">Personal de Seguridad</p>
  </div>