<app-menu></app-menu>
<div class="container">
    <form id="idFormExterno" [formGroup]="formRegistra" (ngSubmit)="registra()">
        <mat-toolbar class="toolbar-entrada-salida">
            <span>Registro de Externo</span>
        </mat-toolbar>
        <div class="form-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input formControlName="validaNombre" class="form-control" placeholder="Nombres" maxlength="30"> <!-- Máximo 20 caracteres -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input formControlName="validaApellido" class="form-control" placeholder="Apellidos" maxlength="30"> <!-- Máximo 20 caracteres -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="celular">Celular</label>
                        <input formControlName="validaCelular" class="form-control" placeholder="Celular" maxlength="9"> <!-- 9 dígitos -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="tipo-documento">Tipo de Documento</label>
                        <mat-select formControlName="validaTipoDocumento" placeholder="Seleccione un tipo de documento" class="form-control">
                            <mat-option [value]="-1" disabled>Seleccione un tipo de documento</mat-option>
                            <mat-option *ngFor="let x of lstTipoDoc" [value]="x.idTipoDoc">
                                {{ x.descripcion }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="numero-documento">Número de Documento</label>
                        <input formControlName="validaNumeroDocumento" class="form-control" placeholder="Número de Documento" maxlength="45"> <!-- Máximo 45 caracteres -->
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input formControlName="validaCorreo" class="form-control" placeholder="Correo" maxlength="50"> <!-- Máximo 100 caracteres -->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="motivo">Motivo</label>
                <textarea formControlName="validaMotivo" id="motivo" class="form-control" rows="3" placeholder="Motivo" maxlength="100"></textarea> <!-- Máximo 100 caracteres -->
            </div>
        
            <div class="text-center">
                <button type="submit" class="btn btn-success">GENERAR QR</button>
            </div>
        </div>
    </form>
    <p class="footer-text">Personal de Seguridad</p>
</div>
