.mat-column-idLibro {
    flex: 0 0 10%;
}
.mat-column-titulo {
    flex: 0 0 20%;
}
.mat-column-anio {
    flex: 0 0 10%;
}
.mat-column-serie {
    flex: 0 0 10%;
}
.mat-column-categoriaLibro {
    flex: 0 0 10%;
}
.mat-column-estadoPrestamo {
    flex: 0 0 10%;
}
.mat-column-tipoLibro {
    flex: 0 0 10%;
}
.mat-column-Editorial {
    flex: 0 0 10%;
}
.mat-column-estado {
    flex: 0 0 10%;
}

.containerA{
    width: 90%;
    margin: 0 auto;
}
.custom-header-cell, .custom-cell {
    text-align: center;
}
